# MAILGUN Configuration
# Mailgun domain to send emails through (Required)
MG_DOMAIN='mg.leblibrary.com'

# Mailgun API Key (Required)
MG_API_KEY='key-f20ec096edc0c86ff5259d4ef3272fae'


#Database Configuration
# Database path. Ex. local sqlite file "//data.db" (Required)
DB_PATH=''

# Database engine. Ex. "sqlite", "mysql", etc. (Required)
DB_TYPE = ''

# Database driver (optional)
DB_DRIVER = ''

# Database UserName (optional)
DB_USER = ''

# Database Password (optional)
DB_PASS = ''